#blocFormulaire{
    text-align: center;
    margin: auto;
}
fieldset{
    margin: auto;
    border-color: #DF3F3F;
    width: 15%;    
}
legend{
    color: #DF3F3F;
}
input[type=text],[type=date],select{  
    background: #FFF3F3;  
    width: 100%;
    border:1px solid #F5C5C5;
    border-radius: 3px;
    margin-top:1%; 
}
.blocValeur{
    text-align: left;
    margin-top:1%; 
}
textarea{
    background-color: #FFF3F3;
    box-shadow :1px 1px 2px #C0C0C0;
    border:1px solid #F5C5C5;
    border-radius: 3px;
    margin-top:1%; 
}
body{
    background-color: #FAFAFA;
}
button[type=submit],input[type=reset]{
    box-shadow:1px 1px 1px #D83F3D; 
    background-color:#FFF3F3;
    border-radius: 3px;
    border:1px solid #F5C5C5;
    margin-top:1%; 
}
